<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>State the name of your dicipline</h1>
<form action="add_des" method="post">
    <label>Discipline Name: </label>
    <input type="text" name="dicipline_name">
    <input type="submit" value="Submit">
</form>

{% if msge %}
    <p>{{ msge }}</p>
{% endif %}


<form action="all_employee_des" method="get">
    <br>
    <br>
    <label>View all Employee's Degree: </label>
    <input type="submit" name="View_All_Employee_Discipline">

</form>
<br>
<br>
{% if all_emp_des_data %}
    {% for employee in all_emp_des_data %}
        <div>
        <span>{{ employee.discipline_name }}</span>
        </div>
    {% endfor %}
{% endif %}


</body>
</html>